* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, sans-serif;

  --white: #fff;
  --black: #000;
  --primary: #213547;
  --neutral: #fafafa;
  --neutral-2: #94a3b8;
  --accent: #4f46e5;
  --accent-2: #a5b4fc;
  --accent-3: #e11d48;
  --accent-4: #fecdd3;
}

/* #region Base */
body {
  background-color: var(--neutral);
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
}

.rounded {
  border-radius: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
/* #endregion Base */

/* NAVBAR */
/* #region Navbar */
.navbar {
  background-color: var(--white);
  padding: 10px 30px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07), 0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary);
}
.nav-brand:hover {
  opacity: 0.8;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}
.navbar li {
  display: inline-block;
}

.nav-item a {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 500;
}
.nav-item:hover a {
  opacity: 0.8;
}
.nav-item a.active {
  text-decoration: underline;
}

.nav-cart {
  padding: 10px 25px;
}
/* #endregion Navbar */

/* Pages */
/* #region Pages */

/* checked */
.home-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* checked */
.about-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* checked */
.products-layout,
.cart-layout {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* checked */
.products-layout {
  position: relative;
}

/* checked */
.products-layout small {
  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 600;
}

/* checked */
.product-details-layout {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
}

/* #endregion Pages */

/* BUTTONS */
/* #region Button */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  transition: scale 200ms, translate 200ms;
}

.btn-accent {
  color: var(--white);
  background-color: var(--accent);
}
.btn-accent:hover {
  scale: 0.97;
}
.btn-accent:active {
  opacity: 0.9;
}
.btn-accent[disabled] {
  opacity: 0.85;
  cursor: default;
}
.btn-accent[disabled]:hover {
  scale: initial;
}

.btn-default {
  color: var(--black);
  background-color: var(--accent-2);
}

.btn-outline {
  color: var(--black);
  background-color: var(--accent-2);
  border: var(--accent) 2px solid;

  box-shadow: 1px 1px 7px #c4c4c4;
  padding: 8px 25px;
  border-radius: 10px;
}

.btn-default:hover,
.btn-outline:hover {
  scale: 0.97;
}

.btn-default:active,
.btn-outline:active {
  translate: 1.5px 1.5px;
}

.btn-default[disabled],
.btn-outline[disabled] {
  opacity: 0.5;
  cursor: default;
}

.btn-default[disabled]:hover,
.btn-outline[disabled]:hover {
  scale: initial;
}

.btn-default[disabled]:active,
.btn-outline[disabled]:active {
  translate: initial;
}

/* #endregion Button */

/* FORMS */
.form h2 {
  font-size: 24px;
  font-weight: 400;
}

.form h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.form-section {
  border-bottom: var(--neutral-4) solid 1px;
  margin-bottom: 20px;
}

.input-required {
  color: var(--primary-2);
  text-decoration: none;
  font-weight: bold;
  padding: 0 1px;
}

.label {
  display: block;
  font-weight: 500;
}

.input {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  border: none;
  border-left: 7px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: var(--white);
}

::placeholder {
  color: var(--neutral-4);
}

input:focus {
  outline: none;
  border-left: 7px solid var(--primary-1);
}

/* TABS */
/* #region Tabs */

/* checked */
.tabs {
  margin: 0 0 40px 0;
  border-bottom: var(--neutral-2) solid 1px;
}

/* checked */
.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

/* checked */
.tabs li {
  display: inline-block;
}

/* checked */
.tabs a {
  font-weight: 700;
  font-size: initial;
  padding-bottom: 10px;
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
}
.tabs .tab-active {
  border-bottom: 5px solid var(--accent);
}
/* #endregion Tabs */

/* Products */

/* #region Products */
/* checked */
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

/* checked */
.product {
  background-color: var(--white);
  padding: 15px 20px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* checked */
.product-info {
  padding-left: 25px;
}

/* checked */
.product-checkout {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: end;
}

/* checked */
.product-delete {
  color: var(--black);
  background-color: var(--accent-4);
  padding: 5px 10px;
  border: 2px solid var(--accent-3);
  font-size: 16px;
}

/* checked */
.product-image-container {
  position: relative;
}

/* checked */
.product-quantity-container {
  position: absolute;
  top: 8px;
  right: -15px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 5px;
}

/* checked */
.product-quantity {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  width: 23px;
  height: 23px;
  display: grid;
  place-items: center;
}

/* checked */
.product-image {
  background-color: var(--neutral);
  padding: 10px;
  border-radius: 20px;
  transition: transform 180ms ease-out;
}
.product-image:nth-child(2n):hover {
  transform: scale(1.01) rotateZ(2deg);
}
.product-image:nth-child(2n + 1):hover {
  transform: scale(1.01) rotateZ(-2deg);
}

/* checked */
.product h3,
.product p {
  margin: 0;
}

/* #endregion Products */

/* product details page */
/* #region Products details page */
/* checked */
.product-details-image {
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
}

/* checked */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* checked */
.table thead {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--white);
  border-top: 0;
}

/* checked */
.table th {
  padding: 15px;
}
/* checked */
.table td {
  padding: 10px;
}

/* checked */
.table tbody {
  font-size: initial;
  border: 1px solid var(--white);
}

/* checked */
.table-nutrition tbody td:last-child {
  text-align: center;
}
/* checked */
.table tbody tr:nth-child(2n) {
  background-color: var(--white);
}
/* checked */
.table tbody tr:nth-child(2n + 1) {
  background-color: var(--neutral);
}

/* #endregion Products details page */

.table.table-cart thead {
  background-color: var(--accent-1);
}
.table-cart {
  text-align: center;
}
.table-cart tbody td:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.th-product {
  text-align: left;
  padding-left: 25px;
}

.cart-highlight {
  background-color: var(--accent-1);
  color: var(--white);
}

.pay-form {
  padding-top: 30px;
}

@media (max-width: 700px) {
  .home-layout,
  .about-layout,
  .products-grid,
  .product-details-layout {
    grid-template-columns: 1fr;
  }
  .home-image {
    order: -1;
  }
}

/* Loader */
/* #region Loader */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/* #endregion Loader */
