* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, sans-serif;

  --primary: #213547;
  --secondary: #fff;
  --extra: #000;
  --neutral: #fafafa;

  --neutral-2: #94a3b8;
  --accent: #4f46e5;
  --accent-2: #a5b4fc;
  --accent-3: #e11d48;
  --accent-4: #fecdd3;

  --surface-color: #fff;
  --surface-shadow: #c4c4c4;
}

body {
  position: relative;

  background-color: var(--neutral);
  color: var(--extra);
  margin: 0;

  height: 100vh;
}

body.dark {
  --primary: #fafafa;
  --secondary: #000;
  --extra: #fff;
  --neutral: #222;

  --surface-color: #444;
  --surface-shadow: #222;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
}

button,
input {
  font: inherit;
}

.rounded {
  border-radius: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* #region NAVBAR */
.navbar {
  background-color: var(--surface-color);
  padding: 10px 30px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07), 0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary);
}
.nav-brand:hover {
  opacity: 0.8;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}
.navbar li {
  display: inline-block;
}

.nav-item a {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 500;
}
.nav-item:hover a {
  opacity: 0.8;
}
.nav-item a.active {
  text-decoration: underline;
}
/* #endregion NAVBAR */

/* #region Pages */
.home-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-layout,
.cart-layout {
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-layout {
  position: relative;
}

.products-layout small {
  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 600;
}

.product-details-layout {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
}
/* #endregion Pages */

/* #region BUTTONS */
.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  border: 0;
}

.btn-accent {
  color: #fff;
  background-color: var(--accent);
  min-width: 140px;

  padding: 13px 39px;
  border-radius: 5px;

  font-size: 14px;

  transition: scale 200ms, opacity 200ms;
}
.btn-accent:hover {
  scale: 0.97;
}
.btn-accent:active {
  opacity: 0.9;
}

.btn-outline {
  color: #000;
  background-color: var(--accent-2);
  border: var(--accent) 2px solid;

  box-shadow: 1px 1px 7px var(--surface-shadow);
  padding: 8px 24px;
  border-radius: 10px;

  font-size: 14px;

  transition: scale 200ms, translate 200ms;
}

.btn-delete {
  color: #000;
  background-color: var(--accent-4);
  border: 2px solid var(--accent-3);

  box-shadow: 1px 1px 7px var(--surface-shadow);
  padding: 5px 10px;
  border-radius: 10px;

  font-size: 16px;

  transition: scale 200ms, translate 200ms;
}

.btn-toggle {
  position: absolute;
  bottom: 30px;
  right: 30px;

  width: 54px;
  height: 54px;

  padding: 4px;
  border-radius: 50%;

  background-color: var(--surface-color);
  border: var(--primary) 2px solid;
  box-shadow: 1px 1px 7px var(--surface-shadow);

  background-image: url(./assets/moon.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition: scale 200ms, translate 200ms;
}

.btn-outline:hover,
.btn-delete:hover,
.btn-toggle:hover {
  scale: 0.97;
}
.btn-outline:active,
.btn-delete:active,
.btn-toggle:active {
  translate: 1.5px 1.5px;
}
/* #endregion Button */

/* #region TABS */
.tabs {
  margin: 0 0 40px 0;
  border-bottom: var(--neutral-2) solid 1px;
}

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  font-weight: 700;
  font-size: initial;
  padding-bottom: 10px;
  color: var(--extra);
  padding-left: 15px;
  padding-right: 15px;
}
.tabs .tab-active {
  border-bottom: 5px solid var(--accent);
}
/* #endregion Tabs */

/* #region Products */
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.products-error {
  color: var(--accent-3);
  font-weight: 700;
}

.product {
  background-color: var(--surface-color);
  padding: 15px 20px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.product-info {
  padding-left: 25px;
}

.product-checkout {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: end;
}

.product-image-container {
  position: relative;
}

.product-quantity-container {
  position: absolute;
  top: 8px;
  right: -15px;
  background-color: var(--surface-color);
  border-radius: 50%;
  padding: 5px;
}

.product-quantity {
  background-color: var(--accent);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  width: 23px;
  height: 23px;
  display: grid;
  place-items: center;
}

.product-image {
  background-color: var(--neutral);
  padding: 10px;
  border-radius: 20px;
  transition: transform 180ms ease-out;
}
.product-image:nth-child(2n):hover {
  transform: scale(1.01) rotateZ(2deg);
}
.product-image:nth-child(2n + 1):hover {
  transform: scale(1.01) rotateZ(-2deg);
}

.product h3,
.product p {
  margin: 0;
}
/* #endregion Products */

/* #region Product details page */
.product-details-image {
  background-color: var(--surface-color);
  padding: 10px;
  border-radius: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-top: 0;
}

.table th {
  padding: 15px;
}
.table td {
  padding: 10px;
}

.table tbody {
  font-size: initial;
  border: 1px solid var(--secondary);
}

.table-nutrition tbody td:last-child {
  text-align: center;
}
.table tbody tr:nth-child(2n) {
  background-color: var(--secondary);
}
.table tbody tr:nth-child(2n + 1) {
  background-color: var(--neutral);
}

.table.table-cart thead {
  background-color: var(--primary);
}
.table-cart {
  text-align: center;
}
.table-cart tbody td:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

.th-product {
  text-align: left;
  padding-left: 25px;
}

.cart-highlight {
  background-color: var(--primary);
  color: var(--secondary);
}
/* #endregion Products details page */

/* #region FORM */
.input-required {
  color: var(--accent-3);
  text-decoration: none;
  padding: 0 2px;
}

.label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  width: max-content;
}

.input {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  border: none;
  border-left: 5px solid var(--neutral-2);
  transition: border-left-color 160ms;
  background-color: var(--surface-color);
  color: var(--extra);
}

::placeholder {
  color: var(--neutral-2);
  font-size: 14px;
}

input:focus {
  outline: none;
  border-left-color: var(--primary);
}

.pay-form {
  padding-top: 30px;
}

.pay-form p {
  margin-bottom: 36px;
  font-size: 16px;
}
/* #endregion FORM */

@media (max-width: 700px) {
  .home-layout,
  .about-layout,
  .products-grid,
  .product-details-layout {
    grid-template-columns: 1fr;
  }
  .home-layout img {
    order: -1;
  }
}

/* #region Loader */
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
/* #endregion Loader */
